body{
    height:100%;
    width:100%;
    font-size:20px;
    font-family:'poppins','sans-serif';
    background-color:darkslategrey;
    overflow: scroll;
}
#grid-container{
    display: grid;
    grid-template-columns: 50% 50%;
}
h1{
    font-weight: bold;
   
}
h2{
    background-color: white;
    color: #fff;
	text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
	font: 90px 'ChunkFiveRegular';
	letter-spacing: 10px;
    height:100vh;
    text-align: center;
    position: fixed;
}
.name{
    margin-top:10px;
    margin-bottom:15px;
    border-radius:5px;
    outline:transparent;
    background-color:#FFFFFF;
    padding:6px 12px;
    color:#495057;
    width:70%;
    height:20px;
  }
  #flex-container{
      display: flex;
      flex-direction: row;
      
  }
  .first-child{
    display: inline-block;
    margin-top:10px;
    margin-bottom:15px;
    border-radius:5px;
    outline:transparent;
    background-color:#FFFFFF;
    padding:6px 12px;
    color:#495057;
    width:80%;
    height:15px;  
  }
  #email{
   margin-top:10px;
    margin-bottom:15px;
    border-radius:5px;
    outline:transparent;
    background-color:#FFFFFF;
    padding:6px 12px;
    color:#495057;
    width:70%;
    height:20px;
}
textarea{
    background-color:#FFFFFF;
    padding:10px;
    margin-top:10px;
    width:70%;
  }
  .radio{
      margin-top: 18px;
  }
  #submit{
      font-weight: bold;
      font-size: 20px;
      padding: 6px 12px;
      background-color: rgb(53, 37, 158);
      border-radius: 5px;
      width: 18%;
      margin-left: 58%;
  }
#images{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    row-gap: none;
   margin-left:15%;
}
.responsive{
    width: 100%;
    height: auto;
    height: 250px;
    max-width: 500px;
}
@media screen and (max-width:900px){
    #submit{
    font-weight: bold;
    font-size: 18px;
    padding: 4px 10px;
    width: 25%;
    }
}
@media screen and (max-width:600px){
    #submit{
    font-weight: bold;
    font-size: 15px;
    padding: 3px 8px;
    width: 30%;
    }
}
